<div class="staffer">
  <div>
  <!--
    {% for static_file in site.static_files %}
        {% if static_file.path contains "{{ site.url }}{{ site.baseurl }}/ref/{{ page.roleabbr | downcase }}" %}
            {% assign has_ref_page = true %}
        {% endif %}
    {% endfor %}
    -->
    
    <h3 class="fs-4" id="{{ page.roleabbr | slugify }}" >
      <a href="{{ site.url }}{{ site.baseurl }}/ref/{{ page.roleabbr | downcase }}">{{ page.title }}</a>
     <!-- {% if page.has_ref_page %}
      <a href="{{ site.url }}{{ site.baseurl }}/ref/{{ page.roleabbr | downcase }}">{{ page.title }}</a>
      {% else %}
      {{ page.title }}
      {% endif %}
      -->
      {% if page.roleabbr %}
      <span class="staffer-pronouns">{{ page.roleabbr }}</span>
      {% endif %}
    </h3>
    {% if page.description %}
    <p class="staffer-meta">In a nutshell: {{ page.description }}</p>
    {% endif %}
    {% if page.works-with %}
    <p>Works with: {{ page.works-with }}</p>
    {% endif %}
    {{ content }}
  </div>
</div>
